<%= simple_form_for(@guest) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :email %>



  <h3>Dinners I'd like to attent</h3>
  <%= f.association :dinners,  as: :check_boxes %>
  <%= f.error :base %>
  <%= f.button :submit %>

<% end %>
