<div class="container">
  <div id="infoanddinners">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @guest.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @guest.email %>
    </p>

    <p>
      <strong>Bringing a +1:</strong>
      <%=@guest.plussone %>
    </p>

    <p>
      <strong>My Dinners:</strong>

      <%= @guest.dinners.map(&:title).join(", ") %>
    </p>


    <%= link_to 'Edit', edit_guest_path(@guest) %> |
    <%= link_to 'Back', guests_path %>
  </div>
</div>
