<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<div class="col-md-7 col-sm-7">
The dinners should be listed below...
 <% @guest.dinners.each do |dinner|  %>
    <p><%= dinner.title %></p>
 <% end %>
</div>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
