<p id="notice"><%= notice %></p>

<h1>Listing Dinners</h1>

<div>
  <div class="dinnerRow">
    <% @dinners.each do |dinner| %>
      <div id="dinnerList" class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <p class="lead"> Title: <%= link_to(dinner.title, dinner, {:class=> "dinner_link_style"}) %></p>
          <p class="text-warning"> Date: <%= dinner.date %></p>
          <p class="text-info"> Details: <%= dinner.description %></p>

        </div>
        <div class="col-md-7 col-sm-7 col-xs-7">

          <div class="partysize">
            <%= image_tag(dinner.image) %>
            <% people = dinner.guests.count %>
            <% if people >= 8 %>
              <%= "FULL" %>
            <% else %>
              <%= people %>
            <% end %>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2">
          <p><%= link_to 'Show', dinner %></p>
          <p><%= link_to 'Edit', edit_dinner_path(dinner) %></p>
          <p><%= link_to 'Destroy', dinner, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Dinner', new_dinner_path %>
