<p id="notice"><%= notice %></p>

<!-- GENERAL INFO ABOUT DINNERS -->
<div id="infoanddinners" class="row">
  <div id="dinnerInfo" class="col-xs-6 col-sm-6 col-md-8">
    <h1>Garden to Table Dinner Series</h1>
      <h3>A benefit for Women's Community Clinic</h3>
      <div>
        Family style dinners inspired by backyard garden.
        <p>Location: 1014 57th St. Oakland, CA. 94608</p>
      </div>
      <br>
      <div class="alignbottom">
        Learn more about the
        <a href="http://www.womenscommunityclinic.org/">Women's Community Clinic</a>.
      </div>
  </div>

  <!-- LIST OF DINNERS AND ATTENDEES -->
  <div id="dinenrContainer" class="col-xs-6 col-sm-6 col-md-4">
    <h2>Dinners</h2>
    <div>
      <div class="dinnerRow">
        <% @dinners.each do |dinner| %>
          <table id="dinnerList" class="row">
            <tr class="col-md-4 col-sm-4 col-xs-4">
              <div class="dinnerName"><%= link_to(dinner.title, dinner, {:class=> "dinner_link_style"}) %></div>
              <div id="date"> Date: <%= dinner.date %></div>

            </tr>
            <!-- <div class="col-md-7 col-sm-7 col-xs-7"> -->

              <tr class="partysize">
                <% chicken = dinner.guests.where(plussone: true).count %>
                <% waffles = dinner.guests.count %>
                <% people = chicken + waffles %>
                <% if people >= 8 %>
                  <%= "FULL" %>
                <% else %>
                  <tr><%='Guests: ' %>
                  <%= people %></tr>
                <% end %>
              </tr>
            <!-- </div> -->
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>



