<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <p class="lead"><%= link_to(@dinner.title, @dinner) %></p>
    <p class="text-info"><%= @dinner.date %></p>
    <p class="text-info"><%= @dinner.description %></p>
  </div>
  <div class="col-md-8">
    <p><%= image_tag(@dinner.image) %></p>
  </div>
</div>
<ul class="nav nav-pills">
  <li><%= link_to 'New Dinner', new_dinner_path  %></li>
  <li><%= link_to('Delete Dinner', @dinner, :method => :delete, :confirm => 'Are you sure?') %></li>
  <li><%= link_to('Edit Dinner', edit_dinner_path(@dinner)) %></li>
</ul>

<br>

<h2>Current Guests</h2>

<div class="col-md-7 col-sm-7">
  <ul>
   <% @dinner.guests.each do |guest|  %>
      <li><%= guest.name %></li>
    <% end %>
  </ul>
</div>
