<!DOCTYPE html>
<html>
<head>

  <title>Reservations@Suga</title>
  <link rel="icon" type="image/png" href="http://pngimg.com/upload/tamato_PNG2041.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="header">
  <%= render 'layouts/header' %>
</div>

<div class="container">
  <%= yield %>
</div>

<div class="footer">
  <%= render 'layouts/footer'  %>
</div>
</body>
</html>